<form name="pageForm" ng-init="onLoad()">
    <div ng-switch="mode">
        <div ng-switch-default>
            <input type="button" value="Add" ng-click="onActionAdd()"/>
        </div>
        <div ng-switch-when=true>
            <label>
                Название:
                <input id="name" type="text" ng-model="item.name" required/>
            </label>
            <br>
            <input type="button" value="Put" ng-click="onActionSubmit(item)"/>
            <input type="button" value="Cancel" ng-click="cancelModes()"/>
        </div>
    </div>

    <table>
        <tr>
            <th>Название</th>
            <th>Действие</th>
        </tr>
        <tr ng-repeat="item in itemList">
            <td>{{item.name}}</td>
            <td ng-switch="mode">
                <div ng-switch-when=false>
                    <input type="button" value="Edit" ng-click="onActionEdit(item)"/>
                    <input type="button" value="Delete" ng-click="onActionDelete(item)"/>
                </div>
            </td>
        </tr>
    </table>
</form>
