<div>
    <div ng-switch="isAuthenticated()">
        <div ng-switch-default>
            <a href="#/login">Log in</a>
            <hr/>
        </div>
        <div ng-switch-when=true>
            <p>{{getAccessToken()}}</p>
            <input type="button" value="Log out" ng-click="onLogOutClick()"/>
            <hr/>
        </div>
    </div>
    <div>
        <a href="#/offerTypes">Offer types</a>
        <a href="#/bookTypes">Book types</a>
        <a href="#/bookConditions">Book conditions</a>
        <a href="#/genres">Genres</a>
        <br>
        <a href="#/offers">Offers overview</a>
        <br/>
        <a href="#/myOffers" ng-show="isAuthenticated()">My offers</a>
        <hr/>
    </div>
</div>