<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="style.css" rel="stylesheet" media="screen">
    <script data-require="angular.js@1.0.x" src="http://code.angularjs.org/1.0.7/angular.min.js" data-semver="1.0.7"></script>
    <script src="angular.js"></script>
  </head>

  <body>
    <div ng-controller="jsonCtrl">
    <h1>Reading external Json file</h1>
    <h2>Total Employees {{ getTotalEmployees() }}</h2>
    <label>Add Id</label><input type="text" ng-model="id">
    <label>Add Login</label><input type="text" ng-model="login">
    <button class="btn" ng-click="addEmp()">Add <i class="icon-plus"></i></button>
<br /><br />
        <label>Search</label>    <input type="text" ng-model="search.login">
        
    <table class="table table-striped">
        <tr ng-repeat="resource in employees | filter:search">
            <td>{{ resource.id }}</td>
            <td>{{ resource.login }}</td>
        </tr>    
    </table>
  </div>
  <!-- <div ng-controller="testCtrl">
    <input type="text" ng-model="myName">
    <button ng-click="addName()" class="btn">Add</button>
     <input type="text" ng-model="search">
    <ul>
      <li ng-repeat="name in names | filter:search">{{ name.name }}</li>
    </ul>
  </div> -->
  </body>

</html>