<!DOCTYPE html>
<html lang="en" ng-app="giveBook">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../properties/globalProperties.js"></script>
    <title>Authors page</title>
</head>
<body>
<script src="../controllers/authorController.js"></script>
<div ng-app="giveBook">
    <form name="addForm" ng-controller="AuthorController" ng-init="getAll()">
    <div >
        <table>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="item in authors">
                <td>{{item.name}}</td>
                <td>
                    <input type="button" value="Edit" ng-click="editItem(item)"/>
                    <input type="button" value="Delete" ng-click="deleteItem(item)"/>
                </td>
            </tr>
        </table>
    </div>


        <label>
            name:
            <input id="name" type="text" ng-model="authorForPut.name" required/>
        </label>
        <input type="button" value="Add" ng-click="addItem()"/>
    </form>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
