<!DOCTYPE html>
<html lang="en" ng-app="giveBook">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../properties/globalProperties.js"></script>
    <title>Authors page</title>
</head>
<body>
<script src="../controllers/workController.js"></script>
<div ng-app="giveBook">
    <form name="addForm" ng-controller="WorkController" ng-init="getAll()">

        <table>
            <tr>
                <th>Названия</th>
                <th>Авторы</th>
                <th>Жанры</th>
                <th>Действие</th>
            </tr>
            <tr ng-repeat="item in itemList">
                <td>
                    <label ng-repeat="title in item.titles">
                        {{title.name}}
                        <br>
                    </label>
                </td>
                <td>
                    <label ng-repeat="author in item.authors">
                        {{author.lastName}}
                        <br>
                    </label>
                </td>
                <td>
                    <label ng-repeat="genre in item.genres">
                        {{genre.name}}
                    </label>
                </td>
                <td>
                    <div>
                        <input type="button" value="Edit" ng-click="onActionEdit(item)"/>
                        <input type="button" value="Delete" ng-click="deleteItem(item)"/>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
