<form name="pageForm" ng-init="onLoad()">
    <div ng-switch="mode">
        <div ng-switch-default>
            <input type="button" value="Add" ng-click="onActionAdd()"/>
        </div>
        <div ng-switch-when=true>

            <table style="min-width: 10%; max-width: 50%">
                <tr>
                    <td>Тип книги:</td>
                    <td>
                        <select id="bookType"
                                ng-model="item.book.bookType"
                                ng-options="bookType.name for bookType in bookTypes track by bookType.id"
                                required>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Состояние книги:</td>
                    <td>
                        <select id="bookCondition"
                                ng-model="item.book.bookCondition"

                                ng-options="bookCondition.name for bookCondition in bookConditions track by bookCondition.id"
                                required>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Язык книги:</td>
                    <td>
                        <select id="bookLanguage"
                                ng-model="item.book.bookLanguage"

                                ng-options="bookLanguage.name for bookLanguage in bookLanguages track by bookLanguage.id"
                                required>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td>Произведение(я):</td>
                    <td>
                        <label ng-repeat="work in item.book.works" ng-click="removeWorkFromItem(work)">
                            {{convertWorkToString(work)}}
                        </label>
                    </td>
                </tr>

                <tr ng-show="worksQueryResult !== []">
                    <td colspan="2">

                        <ul>
                            <li ng-repeat="work in worksQueryResult" ng-click="addWorkToItem(work)">
                                {{convertWorkToString(work)}}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Название произведения:</td>
                    <td>
                        <label>
                            <input id="workTitle" type="text" ng-model="newWork.name" ng-keyup="worksLiveSearch(newWork.name)" required/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td>Автор(ы):</td>
                    <td>
                        <label ng-repeat="author in newWork.authors" ng-click="removeAuthorFromWork(author)">
                            {{convertAuthorToString(author)}}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <tr style="width: 100%">
                                <td>Фамилия:</td>
                                <td>
                                    <input id="lastName" type="text" ng-model="newAuthor.lastName" ng-keyup="authorsLiveSearch(newAuthor.lastName)" required/>
                                </td>
                            </tr>

                            <tr>
                                <td>Имя:</td>
                                <td>
                                    <input id="firstName" type="text" ng-model="newAuthor.firstName"/>
                                </td>
                            </tr>

                            <tr>
                                <td>Отчество:</td>
                                <td>
                                    <input id="middleName" type="text" ng-model="newAuthor.middleName"/>
                                </td>
                            </tr>

                            <tr ng-show="authorsQueryResult !== []">
                                <td colspan="2">

                                    <ul>
                                        <li ng-repeat="author in authorsQueryResult" ng-click="addAuthorToWork(author)">
                                            {{convertAuthorToString(author)}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="Add author to work"
                                           ng-click="addAuthorToWork(newAuthor)"/>
                                    <br/>
                                    <input type="button" value="Add work to book" ng-click="addWorkToItem(newWork)"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <input type="button" value="Put" ng-click="submitItem(item)"/>
            <input type="button" value="Cancel" ng-click="cancelModes()"/>
        </div>
    </div>

    <table>
        <tr>
            <th>Тип сделки</th>
            <th>Книга</th>
            <th>Тип</th>
            <th>Состояние</th>
            <th>Язык</th>
            <th>Пользователь</th>
            <th>Действие</th>
        </tr>
        <tr ng-repeat="item in itemList">
            <td>{{item.offerType.name}}</td>
            <td>{{convertWorksListToString (item.book.works)}}</td>
            <td>{{item.book.bookType.name}}</td>
            <td>{{item.book.bookCondition.name}}</td>
            <td>{{item.book.bookLanguage.name}}</td>
            <td>{{item.user.login}}</td>
            <td>
                <div>
                    <input type="button" value="Edit" ng-click="onActionEdit(item)"/>
                    <input type="button" value="Delete" ng-click="onActionDelete(item)"/>
                </div>
            </td>
        </tr>
    </table>
</form>
