<table class="w3-table w3-bordered w3-striped w3-border">
    <tr>
        <th>Название</th>
        <th>Действие</th>
    </tr>
    <tr ng-repeat="item in itemList">
        <td>{{item.name}}</td>
        <td ng-switch="mode">
            <div ng-switch-when=false>
                <input type="button" class="w3-btn w3-orange w3-hover-white w3-ripple" value="Edit"
                       ng-click="onActionEdit(item)"/>
                <input type="button" class="w3-btn w3-red w3-hover-black w3-ripple" value="Delete"
                       ng-click="onActionDelete(item)"/>
            </div>
        </td>
    </tr>
</table>