<!DOCTYPE html>
<html lang="en" ng-app="giveBook">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../../properties/globalProperties.js"></script>
  <title>Users page</title>
</head>
<body>
<script src="../../controllers/idEntityController.js"></script>
<script src="../../controllers/security/userController.js"></script>
  <div ng-app="giveBook">
    <div ng-controller="IdEntityController">
      <p>Click <a ng-click="loadUsers()">here</a> to load data.</p>
      <table>
        <tr>
          <th>Id</th>
          <th>Login</th>
          <th>Password</th>
          <th>Email</th>
          <th>City</th>
        </tr>
        <tr ng-repeat="user in users">
          <td>{{user.id}}</td>
          <td>{{user.login}}</td>
          <td>{{user.password}}</td>
          <td>{{user.email}}</td>
          <td>{{user.person.city.name}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
</body>
</html>
