<table>
    <tr>
        <td>Тип книги:</td>
        <td>
            <select id="bookType"
                    ng-model="item.book.bookType"
                    ng-options="bookType.name for bookType in bookTypes track by bookType.id"
                    class="w3-select w3-white w3-hover-light-grey w3-ripple">
                <option style="display:none" value="">Не выбрано</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Состояние книги:</td>
        <td>
            <select id="bookCondition"
                    ng-model="item.book.bookCondition"
                    ng-options="bookCondition.name for bookCondition in bookConditions track by bookCondition.id"
                    class="w3-select w3-white w3-hover-light-grey w3-ripple">
                <option style="display:none" value="">Не выбрано</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Язык книги:</td>
        <td>
            <select id="bookLanguage"
                    ng-model="item.book.bookLanguage"
                    ng-options="bookLanguage.name for bookLanguage in bookLanguages track by bookLanguage.id"
                    class="w3-select w3-white w3-hover-light-grey w3-ripple">
                <option style="display:none" value="">Не выбрано</option>
            </select>
        </td>
    </tr>
</table>