<!DOCTYPE html>
<html lang="en" ng-app="giveBook">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../../properties/globalProperties.js"></script>
    <title>Authors page</title>
</head>
<body>
<script src="../../controllers/idEntityController.js"></script>
<script src="../../controllers/offer/bookTypeController.js"></script>
<div ng-app="giveBook">
    <form name="addForm" ng-controller="IdEntityController" ng-init="getAll()">
        <div ng-switch="mode">
            <div ng-switch-default>
                <input type="button" value="Add" ng-click="onActionAdd()"/>
            </div>
            <div ng-switch-when="edit">
                <label>
                    Название:
                    <input id="name" type="text" ng-model="item.name" required/>
                </label>
                <br>
                <input type="button" value="Put" ng-click="submitItem(item)"/>
                <input type="button" value="Cancel" ng-click="cancelModes()"/>
            </div>
        </div>

        <table>
            <tr>
                <th>Название</th>
            </tr>
            <tr ng-repeat="item in itemList">
                <td>{{item.name}}</td>
                <td>
                    <div>
                        <input type="button" value="Edit" ng-click="onActionEdit(item)"/>
                        <input type="button" value="Delete" ng-click="deleteItem(item)"/>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
