<!DOCTYPE html>
<html lang="en" ng-app="giveBook">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../../properties/globalProperties.js"></script>
    <title>Offers page</title>
</head>
<body>
<script src="../../controllers/idEntityController.js"></script>
<script src="../../controllers/offer/offerController.js"></script>
<div ng-app="giveBook">
    <form name="addForm" ng-controller="OfferController" ng-init="getAll()">
        <div ng-switch="mode">
            <div ng-switch-default>
                <input type="button" value="Add" ng-click="onActionAdd()"/>
            </div>
            <div ng-switch-when="edit">

                <table style="min-width: 30%; max-width: 50%">
                    <tr>
                        <td>Тип предложения:</td>
                        <td>
                            <select id="offerType"
                                    ng-model="item.offerType"
                                    ng-init="item.offerType = offerTypes[0]"
                                    ng-options="offerType.name for offerType in offerTypes">
                                <!--<option ng-repeat="offerType in offerTypes" value="{{offerType}}">{{offerType.name}}</option>-->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Название книги:</td>
                        <td>
                            <input id="bookName" type="text" data-ng-model="item.bookName" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип книги:</td>
                        <td>
                            <select id="bookType"
                                    ng-model="item.bookType"
                                    ng-init="item.bookType = bookTypes[0]"
                                    ng-options="bookType.name for bookType in bookTypes"
                                    required>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Состояние книги:</td>
                        <td>
                            <select id="bookCondition"
                                    ng-model="item.bookCondition"

                                    ng-options="bookCondition.name for bookCondition in bookConditions"
                                    required>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Пользователь:</td>
                        <td>
                            <select id="user" ng-model="item.userId" required>
                                <option ng-repeat="user in users" value="{{user.id}}">{{user.login}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="button" value="Put" ng-click="submitItem(item)"/>
                <input type="button" value="Cancel" ng-click="cancelModes()"/>
            </div>
        </div>

        <table>
            <tr>
                <th>Книга</th>
                <th>Тип</th>
                <th>Состояние</th>
                <th>Пользователь</th>
            </tr>
            <tr ng-repeat="item in itemList">
                <td>{{item.book.name}}</td>
                <td>{{item.book.bookType.name}}</td>
                <td>{{item.book.bookCondition.name}}</td>
                <td>{{item.user.login}}</td>
                <td>
                    <div>
                        <input type="button" value="Edit" ng-click="onActionEdit(item)"/>
                        <input type="button" value="Delete" ng-click="deleteItem(item)"/>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
