<!DOCTYPE html>
<html lang="en" ng-app="giveBook">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../../properties/globalProperties.js"></script>
    <title>Offers page</title>
</head>
<body>
<script src="../../controllers/idEntityController.js"></script>
<script src="../../controllers/offer/offerController.js"></script>
<div ng-app="giveBook">
    <form name="addForm" ng-controller="OfferController" ng-init="getAll()">
        <div ng-switch="mode">
            <div ng-switch-default>
                <input type="button" value="Add" ng-click="onActionAdd()"/>
            </div>
            <div ng-switch-when="edit">

                <table style="min-width: 30%; max-width: 50%">
                    <tr>
                        <td>Тип предложения:</td>
                        <td>
                            <select ng-model="item.offerType"
                                    ng-options="offerType as offerType.name for offerType in offerTypes">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Автор:</td>
                        <td>
                            <label>
                                <input id="lastName" type="text" ng-model="item.offerBookDTO.lastName" required/>
                                <input id="firstName" type="text" ng-model="item.offerBookDTO.firstName"/>
                                <input id="middleName" type="text" ng-model="item.offerBookDTO.middleName"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Произведение:</td>
                        <td>
                            <label>
                                <input id="workTitle" type="text" ng-model="item.offerBookDTO.workTitle" required/>
                            </label>
                        </td>
                    </tr>
                </table>
                <input type="button" value="Put" ng-click="submitItem(item)"/>
                <input type="button" value="Cancel" ng-click="cancelModes()"/>
            </div>
        </div>

        <table>
            <tr>
                <th>Тип сделки</th>
                <th>Книга</th>
                <th>Тип</th>
                <th>Состояние</th>
                <th>Пользователь</th>
                <th>Действие</th>
            </tr>
            <tr ng-repeat="item in itemList">
                <td>{{item.offerType.name}}</td>
                <td>{{item.book.work.name}}</td>
                <td>{{item.book.bookType.name}}</td>
                <td>{{item.book.bookCondition.name}}</td>
                <td>{{item.user.login}}</td>
                <td>
                    <div>
                        <input type="button" value="Edit" ng-click="onActionEdit(item)"/>
                        <input type="button" value="Delete" ng-click="deleteItem(item)"/>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
